<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallet.speedpe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name="com.wallet.speedpe.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.wallet.speedpe.Activity.Activity_splash"
        android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wallet.speedpe.Activity.ContactUs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.AboutUs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Referral"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.FAQ"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Plans"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_preview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_new_message"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Actvity_newchat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.BaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Feed"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Payments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_Profile_Post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_notifications"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.SwipedeleteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_SharePost"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_profileList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_create_startup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.wallet.speedpe.Activity.Activity_edit_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.razorpay.CheckoutActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razor_pay_key" />
    </application>

</manifest>